body {
    background-color: rgb(81, 31, 152);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 20px;
}

.form h2 {
    font-size: 24px;
}

.form {
    font-size: 18px;
}

.button {
    font-size: 18px;
    padding: 10px;
}

.hidden {
    display: none;
}

img {
    height: 200px;
}

div {
    padding: 10px;
}